<label>Patient</label>
<ul>
  <%@patient.appointments.each do |appointment| %>

    <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor)%></li>
    <%binding.pry%>
    <li><%= appointment.appointment_datetime.to_date.strftime("%B %e, %Y at %I:%M ") %></li>
    <%end%>
</ul>
